<!DOCTYPE html>
<html lang="en">
  <link>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal - Track your meal today!</title>
    <link rel="icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="logo">
        <h2>Count<span>bites</span></h2>
      </div>
      <div class="navbar">
        <ul>
          <li id="contribute" >Contribute</li>
          <li id="calculate" >Calculate</li>
          <li id="log" >Logs</li>
        </ul>
      </div>
    </header>
    <div class="container">
      <!-- Supriyo-start-->
      <div class="person">
        <div class="name">
          <h2 align="center">Supriyo</h2>
        </div>
        <div class="lala">
            <img src="/images/Supriyo.jpg" class="image">
          </div>
          <div class="daily_total">
            <p class="dailyt-supriyo">Daily</p>
            <p class="totalt-supriyo">Total</p>
          </div>
        <div class="count">
            <p class="daily-supriyo">0</p>
            <p class="total-supriyo">0</p>
        </div>
        <div class="button">
            <button class="add" id="supriyo-add">Add</button>
            <button class="remove" id="supriyo-remove">Remove</button>
        </div>
        <div class="submit">
            <!-- <button class="undo" id="undo">Undo</button> -->
            <button class="submitt" id="supriyo-submit">Submit</button>
        </div>
      </div>
      <!-- Supriyo-end -->

      <!-- Debongshi-start -->
       <div class="person">
        <div class="name">
          <h2 align="center">Debongshi</h2>
        </div>
        <div class="lala">
            <img src="/images/Debongshi.jpg" class="image">
        </div>
            <div class="daily_total">
            <p class="dailyt-debongshi">Daily</p>
            <p class="totalt-debongshi">Total</p>
          </div>
        <div class="count">
            <p class="daily-debongshi">0</p>
            <p class="total-debongshi">0</p>
        </div>
        <div class="button">
            <button class="add" id="debongshi-add">Add</button>
            <button class="remove" id="debongshi-remove">Remove</button>
        </div>
        <div class="submit">
            <button class="submitt" id="debongshi-submit">Submit</button>
        </div>
      </div>
      <!-- Debongshi-end -->

      <!-- Mahmudvai-start -->
        <div class="person">
        <div class="name">
          <h2 align="center">Mahmud vai</h2>
        </div>
        <div class="lala">
            <img src="/images/Mahmudvai.jpg" class="image">
        </div>
            <div class="daily_total">
            <p class="dailyt-mahmud">Daily</p>
            <p class="totalt-mahmud">Total</p>
          </div>
        <div class="count">
            <p class="daily-mahmud">0</p>
            <p class="total-mahmud">0</p>
        </div>
        <div class="button">
            <button class="add" id="mahmud-add">Add</button>
            <button class="remove" id="mahmud-remove">Remove</button>
        </div>
        <div class="submit">
            <button class="submitt" id="mahmud-submit">Submit</button>
        </div>
      </div>
      <!-- Mahmudvai-end -->

      <!-- Walyvai-start -->
        <div class="person">
        <div class="name">
          <h2 align="center">Waly Vai</h2>
        </div>
        <div class="lala">
            <img src="/images/Walyvai.jpg" class="image">
        </div>
             <div class="daily_total">
            <p class="dailyt-waly">Daily</p>
            <p class="totalt-waly">Total</p>
          </div>
        <div class="count">
            <p class="daily-waly">0</p>
            <p class="total-waly">0</p>
        </div>
        <div class="button">
            <button class="add" id="waly-add">Add</button>
            <button class="remove" id="waly-remove">Remove</button>
        </div>
        <div class="submit">
            <button class="submitt" id="waly-submit">Submit</button>
        </div>
      </div>
      <!-- Walyvai-end -->
    </div>
    <script type="module" src="./script/navbar.js"></script>
    <script type="module" src="./script/main.js"></script>
  </body>
</html>   