<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logs</title>
    <link rel="stylesheet" href="./styless.css" />
  </head>
  <body>
    <table border="1px" id="Table">
      <caption>
        Meal logs
      </caption>
      <tr>
        <th>Name</th>
        <th>Total Meal</th>
        <th>Contribution</th>
      </tr>
    </table>
    <script src="./script/Log/logs.js"></script>
  </body>
</html>
